:root {
    --basic-sand: #c8ac96;
    --basic-sea: #506a68;
    --gold-sand: #d2b163;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c8ac96;
}

a {
    border: 2px solid #54736d;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    color: #506a68;
}

a:hover {
    background-color: #506a68;
    color: var(--gold-sand);
    cursor: pointer;
}

.like-a-tag {
    border: 2px solid #54736d;
    background-color: var(--basic-sand);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: smaller;
    text-decoration: none;
    color: #506a68;
}

.like-a-tag:hover {
    background-color: #506a68;
    color: var(--gold-sand);
    cursor: pointer;
}

hr {
    margin-bottom: 20px;
}

.app-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    width: 75%;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

.action-holder {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.table-row:hover {
    background-color: var(--gold-sand);
}

.form-container {
    border: 1px solid var(--basic-sea);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.form-container .form-group {
    margin-bottom: 20px;
}

.form-container .form-group label{
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.form-container .form-group input{
    display: block;
    width: 100%;
}

.form-container .form-group-checkbox {
    margin-bottom: 20px;;
}
.auth-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}